/* works sans font style added from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;500;600;700;800&display=swap');

/* Shared Styless */
* {
    font-family: 'Work Sans', sans-serif;
}

.text-line-description {
    color: #727272;
    font-weight: 400;
}

.btn-primary {
    border-radius: 8px;
    background-color: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.section-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}




/* Header section */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
}

nav li a {
    text-decoration: none;
    color: #424242;
    /* margin-right: 30px; */
}

/* banner section */
/* img baade pura banner tai majhe tai shetake alada div er majhe niye & width-856px ke max-width 800px diye set kore dilam,lekha gulo venge ashbe */

.banner-content {
    text-align: center;
    /* justify-content: center; */
    max-width: 800px;
    margin: 0 auto;
    /* majhe anar jonno (bcz eta purata 1ta content )margin use korlam karon (margin to nai tai top bottom dilam na but right left auto diye dilam) abar margin 530 diyeo kora jay/horizontal centre kora jay/
    flex diyeo kora jao shekhetre content ke child banate hobe */
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.text-line-description {
    color: #727272;
    font-weight: 400;
}

.banner img {
    width: 100%;
    margin-top: 20px;
}

/* main style */

main {
    max-width: 1318px;
    margin: 70px auto;
}

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.team-content {
    padding-left: 70px;
    padding-right: ;
}

.team-title .feature-1 {
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;
}

.team-title .feature-2 {
    color: var(--Dark-01, #131313);
    font-size: 2.8rem;
    font-weight: 700;

}

.team-title .feature-3 {
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700;

}

/* Features section started */
.features {
    display: flex;
    gap: 146px;
    margin-top: 130px;
}

.features-content .section-title {
    border-left: 5px solid #FF900E;
    padding: 20px;
}

.features-content .features-card {
    padding: 10px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

.features-image img{
    height: 90% ;
    margin-left: 50px;
    
}

.features-content h4 {
    color: #131313;
    font-size: 20px;
    font-weight: 600;
}

.ten-years-badge {
    width: 340px;
    border-radius: 8px;
    background: #FF900E;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
}

.ten-years-badge h2 {
    color: #FFF;
    
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 0px;
    
}

.ten-years-badge p {
    color: #FFF;
    font-size: 1.56rem;
    font-weight: 500;
    margin-top: 5px;
}

/* Facts Section started */

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    text-align: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
    align-items: center;
    padding: 45px;
}

.facts-card-container .card-stats {
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 1px;
}

.facts-card-container .card-title {
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 1px;
}

/* sponsors section started */
.sponsors {
    text-align: center;
}

.sponsors-img-container {
    display: flex;

    margin-top: 50px;
    align-items: center;
    justify-content: space-evenly;
}

.sponsors-img-container img {
    width: ;
}



/* responsive media queries */
/* for mobile devices */
@media screen and (max-width: 600px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .features,
    .facts-card-container,
    .sponsors-img-container {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .team-content {
        padding-right: 20px;
        padding-left: 20px;
    }

    .facts-card-container,
    .sponsors-img-container {
        padding: 20px;
        gap: 10px;
    }

    .features-image img{
        width: 100%;
        height: 50% ;
        margin-left: 0px;
        
    }
    .ten-years-badge {
        max-width: 300px;


}

/* for tablet users */
@media screen and (min-width:600px) and (max-width: 990px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .features,
    .facts-card-container,
    .sponsors-img-container {

        flex-direction: column;
    }

    .facts-card-container,
    .sponsors-img-container {
        padding: 20px;
        gap: 10px;
    }
    .features-image img{
        width: 100%;
        height: 50% ;
        margin-left: 0px;
        
    }
    .ten-years-badge {
        max-width: 300px;
    }
     
}